.pill {
  pointer-events: none;
  background-color: #EFF4FF;
  border: none;
  color: #2557D6;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 13px;
  margin-left: -1px;
  margin-bottom: 10px;
  border-radius: 100px;
}
.pill-bad {
  background-color: #dc554e;
  color: #1e0303;
}
.pill-good {
  background-color: #199e31;
  color: #b4f1a9;
}