<section class="main">
  <h1 class="text-3xl font-bold underline mt-5">
    Status
  </h1>

  <div class="flex flex-wrap mb-4">
    <%= for feature <- @features do %>
      <div class="w-1/2 h-20"> <SpeedWeb.FeatureStatus.pill {feature} /> </div>
    <% end %>
  </div>
</section>
